.App-header {
  background-color: #ccccb3;
  height: 80px;
  padding: 20px;
  color: white;
}
span {
  color: blue;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.thebody {
  margin-top: 100px
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
